* {
  margin: 0;
  padding: 0;
}

body {
	background: #FFFFFF;
	height: 100%;
	font-family: helvetica, arial, sans-serif;
	color: #333;
}

header,
.inDocked,
section {
  -webkit-transition: top .3s; /* Safari */
  transition: top .3s;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  background: #00afd7;
}

header section {
	display: block;
	font-family: helvetica, arial, sans-serif;
	margin: 0 auto 0 auto;
	display: block;
	width: 940px;
	height: 50px;
}

header h1 {
	float: left;
	line-height: 0;
	font-weight: normal;
	color: #eeeeee;
	margin-bottom: 10px;
}

header h1 img {
	margin-top: 20px;
}

header h4 {
	/*color: #A31414;*/
	color: #fff;
	font-weight: 200;
	margin-top: 42px;
	float: right;
}

header h4 a {
	text-decoration: none;
	color: #ccc;
}

header h4 a:hover {
	text-decoration: underline;
}

.logo {
  position: relative;
  min-width: 70px;
  top: 0px;
  height: 70px;
  background: #363432;
}

.logo a img {
  position: relative;
  left: 15px;
  top: 15px;
  width: 40px;
}

.info {
  position: relative;
  min-width: 44px;
  top: 0px;
  height: 70px;
  background: #363432;
  color: #00afd7;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
}

.info:hover {
  background: #403D3B;
}

.forms {
  display: flex;
  flex: 1;
  background: #00afd7;
}

.inputarea {
  flex: 1 0 0;
  display: flex;
	position: relative;
	background: #00afd7;
	height: 70px;
}

.inDocked {
  position: fixed;
  top: -140px;
}

.font_wrapper, .fb_wrapper {
  flex: 1 0 0;
  position: relative;
}

.fb_toggle {
  flex: 1 0 0;
  max-width: 70px;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.3);
}

span.lbl {
    position: relative;
    display: inline-block;
    top: 7px;
    width: 100%;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: rgba(255,255,255,.7);
}

.fb_wrapper {
  left: 0;
}

.fnDocked {
  top: 0;
  left: 0;
}

.fnDocked .textfield {
  width: 100%;
}

input.textfield, input.fallback_input {
  width: calc(100% - 20px);
	position: relative;
  /*border: 1px solid rgba(255,255,255,.3);*/
  border: 0;
	box-shadow: inset 0px 4px 0px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0px 4px 0px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 4px 0px rgba(0,0,0,.2);
  -webkit-appearance: none;
	background: rgba(0,0,0,.1);
	padding: 0 10px;
	border-radius: 0px;
	outline: none;
	height: 70px;
	text-align: left;
	font: 16px/23px helvetica-light, arial, sans-serif;
	color: #eeeeee;
}

span.feedback {
  background: 0;
  font-size: 12px;
  color: transparent;
  opacity: 0;
  position: absolute;
  left: 10px;
  top: 46px;
}

span.toggle_btn {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  bottom: -17px;
  outline: none;
  cursor: pointer;
}

.tgg_inactive {
  /*border: 1px solid #fff;*/
  box-shadow: inset 0 0 0 1px #fff;
  background: rgba(0,0,0,0.2);
}

.tgg_active {
  /*border: 1px solid #FFF;*/
  background: #FFF;
  box-shadow: inset 0 0 0 2px #FFF, inset 0 0 0 5px #00afd7;
}

input.fallback_toggle:hover {
	cursor: pointer;
}

.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

section {
	margin: 0 auto 0 auto;
	display: block;
	width: 100%;
	/*text-align: center;*/
}

ul li h4 {
	margin-top: 10px;
}

ul li.active {
	list-style-type: none;
	float: left;
	/*border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;*/
	border-bottom: 0;

	text-decoration: underline;
}

ul.language {
  margin: 0;
  width: 50px;
  height: 40px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

ul.language li {
	list-style-type: none;
	float: left;
	padding: 0px 20px 0px 20px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

span.lang_button {
	width: 70px;
	height: 48px;
	display: inline-flex;
  position: relative;
  left: 0;
	cursor: pointer;
}

.lang_button.lang_open {
  background: url("img/arrow_lang_open.svg") no-repeat 46px 18px;
  background-size: 14px;
}

.lang_button.lang_closed {
  background: url("img/arrow_lang_closed.svg") no-repeat 46px 18px;
  background-size: 14px;
}

.langDrop:hover, .langDrop.lang_closed:hover {
  /*background-color: #39C4E3;*/
}

.langDrop.open {
  background-color: #39C4E3;
}

ul.language li {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	font: 16px/22px helvetica, arial, sans-serif;
	background: #ffffff;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-radius: 0;
	cursor: pointer;
}

.langDrop {
  flex: 1 0 0;
  max-width: 70px;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.3);
}

ul.language li.item {
  min-width: 120px;
    height: 38px;
    position: relative;
    padding-top: 15px;
    right: 71px;
    text-align: center;
    /* vertical-align: middle; */
    display: block;
    cursor: pointer;
    background: #FFFFFF;
}

ul.language li.item:hover {
  background: #eeeeee;
}

ul.language li.active {
  color: #ffffff;
  width: 100%;
  height: 40px;
  padding-left: 8px;
  padding-top: 2px;
  text-transform: uppercase;
	font: 16px/26px helvetica-light, arial, sans-serif;
  background: 0;
  text-decoration: none;
  border: 0;
}

section.textarea {
	display: block;
	position: relative;
  top: 6em;
	z-index: -1;
	text-align: center;
	width: calc(100% - 40px);
  max-width: 45em;
	padding: 0 20px;
}

section.textarea p {
	text-align: left;
  font-weight: 400;
}



h1 {
	font-size: 3em;
	font-weight: 100;
	line-height: 1.3em;
	margin-bottom: .6em;
}

h2 {
	font-size: 2.5em;
	font-weight: 200;
	line-height: 1.3em;
	margin: 1em 0;
}

h3 {
	font-size: 2em;
	font-weight: 200;
	line-height: 1.3em;
	margin: 1em 0;
}

h4 {
	font-weight: 700;
	fontsize: 1.6em;
	lineheight: 1.3em;
	margin-bottom: 1em 0;
}

p, ul, ol {
	font-size: 1.3em;
	line-height: 1.4em;
	color: #333;
  text-align: left;
}

span.source {
  display: block;
  width: 100%;
  font-size: .8em;
  color: #666666;
  margin-bottom: 1em;
}

ul {
  margin-left: 1em;
}

.ui-autocomplete {
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  list-style-type: none;
  background-color: #FFF;
  font-size: 1em!important;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.ui-autocomplete li {
  /*margin: 15px 0 0;*/
  padding: 10px 10px;
  cursor: pointer;
}

.ui-state-focus {
  color: #00afd7;
}

span.ui-helper-hidden-accessible {
  display: none;
}

a {
	color: #00afd7;
	text-decoration: none;
}

a:hover {
  color: #333;
}

blockquote {
	margin: 10px 0 10px 0;
	padding: 10px 20px 10px 20px;
  font-style: italic;
  font-weight: 400;
}

blockquote p {
	color: #666;
}

.infosection h2 {
  text-align: left;
  margin-bottom: .3em;
}

.infosection p {
  font-weight: 300;
}

h2.whythistool {
  background: url('img/ft_logo_white.svg') no-repeat center center;
  background-color: #363432;
  display: block;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  moz-border-radius: 33px;
  webkit-border-radius: 33px;
  margin: 1em auto;
}

footer {
  background: #363432;
  display: block;
  position: relative;
  width: 100%;
  top: 8em;
  text-align: center;
  padding-bottom: 20px;
}

footer .footerLogo {
  background: url('img/fh_logo_footer.svg') no-repeat center center;
  padding: 30px 0;
  display: block;
  height: 50px;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 20px;
}

footer a:hover {
  color: #fff;
}

footer .divider {
  color: #00afd7;
  margin: 0 10px;
}

@media all and (min-width: 50em) {
  header {

  }
  .forms {
    max-width: 45em;
    margin: 0 auto;
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(255,255,255,.2);
  }
}

@media all and (max-width: 30em) {
  h1 {
  	font-size: 2.4em;
  	line-height: 1.3em;
  	margin-bottom: 1em;
  }

  h2 {
  	font-size: 2em;
  	line-height: 1.3em;
  	margin: 1em 0;
  }

  h3 {
  	font-size: 1.6em;
  	line-height: 1.3em;
  	margin: 1em 0;
  }

  h4 {
  	fontsize: 1.4em;
  	lineheight: 1.3em;
  	margin-bottom: 1em 0;
  }

  p, ul, ol {
    font-size: 1.1em;
  }
  .forms {
    /*max-width: calc(100% - 20px);*/
  }
}
